.footer{
  height: 540px;
  background-color: #272727;
}
.footer-container{
  padding: 80px 0px 5px 0px;
}
.footer-container span{
  display: block;
  height: 2px;
  background-color: #fff; 
}
.footer-flex{
  display: flex;
  justify-content: space-between;
}
.footer-logo{
  padding: 20px 0px 0px 0px;
}
.footer-logo img{
  width: 236px;
}
.footer-des{
  height: 46px;
  width: 280px;
  color: #fff;
  margin-top: 8px;
}
.footer-des p{
  line-height: 22px;
  letter-spacing: -0.5px;
  font-size: 16px;
}
.footer-nav{
  width: 510px;
  height: 230px;
  margin: 80px 30px 80px 0px;
  display: flex;
  justify-content: space-between;
}
.footer-manu p{
  color: #56B280;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.footer-manu ul{
  margin: 15px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-manu ul li{
  list-style: none;
  padding: 10px 0px;
}
.footer-manu ul li a{
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.footer-credit{
  height: 20px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer-credit{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.6px;
}