@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.hero{
  height: 705px;
  width: 100%;
  background: url(../assets/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-container{
  height: 349px;
  width: 730px;
  margin: 178px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.hero-title{
  height: 168px;
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leaf-emoji{
  font-size: 40px;
  text-decoration: none;
}
.hero-title h3{
  font-size: 40px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.hero-title p{
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.hero-container button{
  height: 40px;
  width: 310px;
  border: none;
  background-color: #56B280;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 40px;
  transition: 0.3s ease;
}
.hero-container button:hover{
  cursor: pointer;
  height: 45px;
  width: 320px;
  font-size: 22px;
  box-shadow: 2px 2px 20px #00000033;
}
.product-sec{
  background-color: #fff;
  height: 1440;
}
.product-container{
  max-width: 1140px;
  height: 650px;
  margin: 50px auto;
}
.product-title{
  height: 100px;
  width: 100%;
  text-align: center;
}
.product-title h5{
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1.5%;
}
.product-title p{
  font-size: 18px;
  color: #5E6E89;
}
.product-grid{
  margin: 30px 0px;
  height: 530px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}
.product-box{
  height: 255px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #F7F8FA;
  box-shadow:2px 3px 10px #f2f2f2;
}
.product-box:hover{
  cursor: pointer;
}
.product-box img{
  width: 228px;
  height: 178px;
}
.product-info{
  height: 76px;
  width: 100%;
  padding: 8px 15px 10px 15px;
  background-color: #fff;
}
.product-info h5{
  font-size: 16px;
  font-weight: 500;
}
.product-info p{
  font-size: 20px;
  color: #56B280;
  font-weight: 600;
  text-align: right;
}
.clean{
  height: 740px;
  background-color: #F7F8FA;
}
.clean-container{
  max-width: 1140px;
  margin: 0px auto;
  height: 100%;
  padding: 80px 0px;
  display: flex;
  align-items: center;
}
.clean-content{
  width: 50%;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.clean-content-text{
  height: 270px;
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.clean-content-text-title{
  height: 105px;
  width: 309px;
}
.clean-content-text-title h3{
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1.9px;
  line-height: 46.6px;
  text-align: left;
}
.clean-content-text-green-text{
  height: 25px;
  width: 350px;
}
.clean-content-text-green-text p{
  color: #56B280;
  font-size: 16px;
  line-height: 22.8px;
}
.clean-content-text-item-list-item{
  height: 28px;
  width: 540px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.clean-content-text-item-list-item p{
  font-size: 16px;
}
.clean-rounded{
  height: 14px;
  width: 14px;
  border: 1px solid #000;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clean-rounded img{
  width: 6px;
}
.clean-learn-more-btn{
  background-color: #56B280;
  color: #fff;
  width: 194px;
  border: none;
  border-radius: 5px;
  padding: 8px 44px;
  font-size: 18px;
  font-weight: 500;
}
.clean-learn-more-btn:hover{
  cursor: pointer;
}
.clean-img{
  width: 50%;
}
.clean-img img{
  height: 540px;
  width: 560px;
}