@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.hero{
  height: 705px;
  width: 100%;
  background: url(../assets/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-container{
  height: 349px;
  width: 730px;
  margin: 178px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.hero-title{
  height: 168px;
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leaf-emoji{
  font-size: 40px;
  text-decoration: none;
}
.hero-title h3{
  font-size: 40px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.hero-title p{
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.hero-container button{
  height: 40px;
  width: 310px;
  border: none;
  background-color: #56B280;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 40px;
  transition: 0.3s ease;
}
.hero-container button:hover{
  cursor: pointer;
  height: 45px;
  width: 320px;
  font-size: 22px;
  box-shadow: 2px 2px 20px #00000033;
}